.featuredCharacter {
  background-image: linear-gradient(
      102deg,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 0) 70%
    ),
    url("https://fondosmil.com/fondo/17209.jpg");
  width: 100%;
  height: 600px;
  background-size: cover;
  color: white;
  padding: 20px;

  display: flex;
}

.leyend {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 40px;
}

.title img {
  width: 400px;
  background-size: auto;
}

.description p {
  font-size: larger;
  width: 500px;
}
.icons i {
  font-size: 0.9rem;
  color: #c6c6c6;
}
