.Header {
  font-size: 22px;
  padding: 8px 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background-color: #221f1f;
  color: #fff;
  width: 100%;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
}

span {
  margin-right: 25px;
  cursor: pointer;
}

.logo {
  width: 114px;
  height: 45px;
  border-radius: 2px;
  object-fit: cover;
  cursor: pointer;
  margin-right: 40px;
}
