.App {
  background-color: #221f1f;
}

.App-content {
  background-color: #221f1f;
  min-height: 100vh;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
